
test1/.vs/DataStructure/v16/.suo
*.db
test1/x64/Debug/projects.exe
*.ilk
*.pdb
*.obj
*.idb
test1/.vs/DataStructure/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
test1/.vs/DataStructure/v16/.suo
*.db
*.exe
*.ilk
*.pdb
*.obj
*.idb
*.pdb
test1/.vs/DataStructure/v16
x64/Debug
*.pdb
test1/.vs/DataStructure/v16/.suo
test1/.vs/DataStructure/v16/Browse.VC.db
test1/x64/Debug/projects.exe
test1/x64/Debug/projects.ilk
test1/x64/Debug/projects.pdb
test1/x64/Debug/projects.tlog/link.read.1.tlog
test1/x64/Debug/vc142.idb
